
#body-background
{background-color:#fbfbfb;}



#login-form-wrap
{ height: 100vh;
  width: 100vw;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.90);
  
  display: flex;
  align-items: center;
  justify-content: center;}


  #login-form
  {border-style: hidden; 
    
    background-color: #ffffff;
    border-width: 40%;
    color: black;
    border-radius: 10px;
   
    min-height: 15%; 
    min-width: 15%;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
   
    
    box-shadow: 0 15px 15px 10px rgb(0,0,0,0.40);
    flex-grow: 0.18;}

    #signone 
    {margin: 0px;
    color:black;}


    .one
    { 
    border: 0px;
    border-bottom: 1px solid #291f1f;
    font-style: normal;
    font-size: 18px;
    text-align:center;
    caret-color: blue;}
    


#sbutton 
{border: 0px;
border-radius: 32px 32px 35px 35px;

padding: 12px;
width: 168px;

color: #fff;
background-color: #1DA1F2;

font-size: 17px ;
font-weight: bold;}